<div id="<%= dom_id evento %>">
  <p>
    <strong>Nombre:</strong>
    <%= evento.nombre %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= evento.imagen %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= evento.descripcion %>
  </p>

  <p>
    <strong>Lugar:</strong>
    <%= evento.lugar %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= evento.fecha %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= evento.hora %>
  </p>

  <p>
    <strong>Fuente:</strong>
    <%= evento.fuente %>
  </p>

  <p>
    <strong>Letra chica:</strong>
    <%= evento.letra_chica %>
  </p>

</div>
